body {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
h1 {
    margin-bottom: 10px;
}
h2 {
    margin-top: 20px;
    border-left: 3px solid grey;
    padding-left: 20px;
}
#card {
    border-radius: 10%;
    border-color: aquamarine;
}
.project{
    padding: 10px;
}
